body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}
.calc{
  width: 350px;
  height: 560px;
  max-width: 400px;
  background: rgb(9, 9, 9);
  padding: 20px;
  padding-right: 40px;
  border-radius: 10px;
}
#screen{
  width: 95%;
  margin-left: 10px;
  height: 55px;
  margin-top: 23px;
  pointer-events: null;
  border: 1px;
  border-radius: 10px;
  font-size: xx-large;
  background-color: rgb(9, 9, 9);
  color: white;
  text-align: right;
}
.row{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.btn{
  width: 60px;
  height: 55px;
  margin-left: 23px;
  margin-top: 20px;
  background:  rgb(73, 73, 76);
  border: 1px;
  border-radius: 50%;
  color: white;
}
.btn0{
  width: 150px;
  height: 44px;
  margin-left: 23px;
  margin-top: 20px;
  background: rgb(73, 73, 76);
  border: 1px;
  border-radius: 50px;
  color: white;
}
.btn1{
  width: 60px;
  height: 55px;
  margin-left: 23px;
  margin-top: 20px;
  background: rgb(253, 132, 51);
  border: 1px;
  border-radius: 50%;
  color: white;
}
.btn2{
  width: 60px;
  height: 55px;
  margin-left: 23px;
  margin-top: 20px;
  background: rgb(169, 169, 169);
  border: 1px;
  border-radius: 50%;
  color: white;
}
button:hover {
  background-color: #e0e0e0;
 }
